@font-face {
    font-family: NeutralStd;
    src: url("path/NeutralStd-Regular.otf") format("opentype");
}

@font-face {
    font-family: NeutralStd;
    font-weight: bold;
    src: url("path/NeutralStd-Bold.otf") format("opentype");
}

@font-face {
    font-family: NeutralStd;
    font-style: italic;
    src: url("path/NeutralStd-RegularItalic.otf") format("opentype");
}

html, body {
    width: 100%;
    min-width: 480px;
    height:100%;
    margin:0;
    padding:0;
    font-family: "NeutralStd", Helvetica, sans-serif; 
/*  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    */
}

.leaflet-popup-content {
    font-family: "NeutralStd", Helvetica, sans-serif; 
}

a.btn {
  background: #cccccc;
  background-image: -webkit-linear-gradient(top, #cccccc, #b2b2b2);
  background-image: -moz-linear-gradient(top, #cccccc, #b2b2b2);
  background-image: -ms-linear-gradient(top, #cccccc, #b2b2b2);
  background-image: -o-linear-gradient(top, #cccccc, #b2b2b2);
  background-image: linear-gradient(to bottom, #cccccc, #b2b2b2);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 4px #ffffff;
/*  font-family: Georgia; */
  color: #000000;
  font-size: 12px;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
}

a.btn:hover {
  background: #e5e5e5;
  background-image: -webkit-linear-gradient(top, #e5e5e5, #cccccc);
  background-image: -moz-linear-gradient(top, #e5e5e5, #cccccc);
  background-image: -ms-linear-gradient(top, #e5e5e5, #cccccc);
  background-image: -o-linear-gradient(top, #e5e5e5, #cccccc);
  background-image: linear-gradient(to bottom, #e5e5e5, #cccccc);
  text-decoration: none;
}

#map {
    width: auto;
    height:100%;
    margin:0;
    margin-left: 225px;
    padding:0;
}
#mapdiv {
    width: auto;
    height:100%;
    margin:0;
    margin-left: 225px;
    padding:0;
    z-index: 1;
    position: relative;
}
#overlay {
    position:absolute;
    width: auto;
    min-width: 224px;
    height:100%;
    left:8px;
    top:50px;
    background-color:rgba(255, 255, 255, 0.8);
}

.float-title-bronze {
  height: 18px;
  width: 110px;
  position: absolute;
  left: 300px;
  z-index: 2;
  padding: 10px;
  color: #fff;
  background-color: rgba(70, 70, 70, 1);
  pointer-events: auto; 
}

.float-title-home {
  height: 18px;
  width: 55px;
  position: absolute;
  left: 300px;
  z-index: 2;
  padding: 10px;
  color: #fff;
  background-color: rgba(70, 70, 70, 1);
  pointer-events: auto; 
}

.float-title-iron {
  height: 18px;
  width: 85px;
  position: absolute;
  left: 300px;
  z-index: 2;
  padding: 10px;
  color: #fff;
  background-color: rgba(70, 70, 70, 1);
  pointer-events: auto; 
}

/* roman parthian can use greece same width */
.float-title-greece {
  height: 18px;
  width: 200px;
  position: absolute;
  left: 300px;
  z-index: 2;
  padding: 10px;
  color: #fff;
  background-color: rgba(70, 70, 70, 1);
  pointer-events: auto; 
  text-transform: uppercase;
}

.float-title-sass {
  height: 18px;
  width: 200px;
  position: absolute;
  left: 300px;
  z-index: 2;
  padding: 10px;
  color: #fff;
  background-color: rgba(70, 70, 70, 1);
  pointer-events: auto; 
}

.item {
    border:1px, solid;
    padding:2px;
    margin:2px;
    background-color:rgba(100, 100, 255, 0.5);
}
.active {
    background-color:rgba(100, 100, 255, 0.9);
}

.text-labels {
    font-size: 2em;
    font-weight: 700;
    /* Use color, background, set margins for offset, etc */
}

.label-1 {
  font-family: 'IM Fell DW Pica', serif;
  color: #fec623;
  font-size: 150%;
  line-height: 20px;
  letter-spacing: 2px;
  font-weight: 800;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;  
  cursor: inherit;
}

.label-2 {
  /* bronze region */
  color: #ff7800;
  font-size: 150%;
  line-height: 20px;
  letter-spacing: 2px;
  font-weight: 800;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;  
  background-color:rgba(255, 255, 255, 0.4);
  cursor: inherit;
}

.label-3 {
  /* bronze city */
  color: #A52A2A;
  font-size: 150%;
  line-height: 20px;
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  cursor: inherit;
}

.label-4 {
  /* iron region */
  color: #686868;
  font-size: 150%;
  line-height: 20px;
  letter-spacing: 2px;
  font-weight: 800;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;  
  background-color:rgba(255, 255, 255, 0.2);
  cursor: inherit;
}

.label-5 {
  /* iron city */
  color: #686868;
  font-size: 150%;
  line-height: 20px;
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  cursor: inherit;
}

.label-6 {
  /* greece city */
  color: #0000ff;
  font-size: 150%;
  line-height: 20px;
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  cursor: inherit;
}

.label-7 {
  /* greece region */
  color: #0000ff;
  font-size: 150%;
  line-height: 20px;
  letter-spacing: 2px;
  font-weight: 800;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;  
  background-color:rgba(255, 255, 255, 0.2);
  cursor: inherit;
}

.label-8 {
  /* roman city */
  color: #008000;
  font-size: 150%;
  line-height: 20px;
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  cursor: inherit;
}

.label-9 {
  /* roman region */
  color: #008000;
  font-size: 150%;
  line-height: 20px;
  letter-spacing: 2px;
  font-weight: 800;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;  
  background-color:rgba(255, 255, 255, 0.2);
  cursor: inherit;
}

.label-10 {
  /* sassanian city */
  color: #CC0033;
  font-size: 150%;
  line-height: 20px;
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  cursor: inherit;
}

.label-11 {
  /* sassanian region */
  color: #CC0033;
  font-size: 150%;
  line-height: 20px;
  letter-spacing: 2px;
  font-weight: 800;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;  
  background-color:rgba(255, 255, 255, 0.2);
  cursor: inherit;
}

.textLabelclass{
  white-space:nowrap;
  font-weight: 300;
  text-shadow: 0 0 0.1em black, 0 0 0.1em black,
        0 0 0.1em black,0 0 0.1em black,0 0 0.1em;
  color: yellow;
}

/* sidebar content, note widths */

.sidebar {
    width: 218px;
    margin-left: 0;
}

#header-text {
position:relative; /*absolute positioning requires left or right & top or bottom with width & height*/
display: block;
width: 218px;
float: left;
height: auto;
margin-bottom: 10px; /*allow for footer*/
padding: 8px; 
background: #000;
color: yellow;
}

#museum {
position:absolute; /*absolute positioning requires left or right & top or bottom with width & height*/
display: block;
width: 218px;
height: 20px;
top: 34px;
bottom: 0;
left: 0;  
right: 0;  
margin-bottom: 5px; /*allow for footer*/
background: #d3d3d3; /*for testing only, remove when done*/
padding: 6px; 
padding-left: 14px;
border-style: solid;
border-width: 0;
border-color: #051094;
}

#description {
position:relative; /*absolute positioning requires left or right & top or bottom with width & height*/
display: block;
max-width: 224px;
height: auto;
top: 4px;
left: 8px;  
right: 8px;  
margin-top: 25px; /*allow for footer*/
/* background: #d5cdf3; for testing only, remove when done*/
float: left;
padding: 16px; 
border-style: solid;
border-width: 1px;
border-color: #ffe4c4;
}

#description img {
vertical-align: middle;
}

#footer-text {
position:absolute; /*absolute positioning requires left or right & top or bottom with width & height*/
display: block;
max-width: 200px;
height: auto;
bottom: 0;
left: 8px;  
right: 8px;  
margin-bottom: 10px; /*allow for footer*/
margin-top: 10px;
background: #d3d3d3; /*for testing only, remove when done*/
padding: 5px; 
border-style: solid;
border-width: 1px;
border-color: #051094;
font-size: 11px;
text-align: center;
}



#feature_info {
width: 100%;
height: 50%;
background: rgba(255, 255, 255, 0.7);
position: absolute;
top:400px;
left:0px;
padding:5px;
border:1px solid grey;
display:none;
}

#info {
    font-weight:bold;
    color:red;
}
